/*=== Font Style ===*/
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

/*=== Variables === */
:root{
    /*--COLORS--*/
    --primary-magenta: hsl(300, 43%, 22%);
    --primary-pink: hsl(333, 80%, 67%);
    --secondary-dark-magenta: hsl(303, 10%, 53%);
    --secondary-light-Magenta: hsl(300, 24%, 96%);
    --neutral-White: hsl(0, 0%, 100%);
    
    /*--TYPOGRAPHY--*/
    --body-font: 1.3rem;
    --sub-heading: 1.3rem;
    --bold-heading: 4.2rem;
}

html{
    font-family: 'Spartan', sans-serif;
    font-size: 62.5%;
}

h1{
    font-size: 4.2rem;
}

h2{
    font-size: 1.3rem;
}

h3{
    font-size: 1.2rem;
}

p{
    font-size: 1.3rem;
    line-height: 20px;
    color: var(--neutral-White);
}

*, ::before, ::after{
    margin: 0;
    padding: 0;
    align-content: center;
}

body{
    margin: auto;
    width: 144rem;
}

.wrapper{
    align-content: center;
    background-image: url(images/bg-pattern-top-mobile.svg), url(images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat no-repeat;
    background-position: top left, bottom right;
    padding: 6px;
}

@media screen and (min-width: 376px){
    .container-1, .container-2{
    display: flex;
    }

    .wrapper{
        align-content: center;
        background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
        background-repeat: no-repeat no-repeat;
        background-position: top left, bottom right;
        padding: 10rem;
    }

    .header{
        width: 360px;
        text-align: left !important;
    }

    .second{
        margin-left: 6rem;
    }
    
    .third{
        margin-left: 12rem;
    }
}

.container-1 div{
    padding: 10px; 
}

.container-2 div{
    padding: 4rem 3rem;
    width: 26rem;
}

.box1, .box2, .box3, .box4, .box5{
    flex: 1;
}

.header{
    width: 32.4rem;
    text-align: center;
}

.header__heading{
    color: var(--primary-magenta);
    font-weight: 700;
    letter-spacing: -3px;
    margin-bottom: 20px;
}

.header__subheading{
    color: var(--secondary-dark-magenta);
    font-weight: 500;
    line-height: 2rem; 
}

.ratings__card{
    background-color: var(--secondary-light-Magenta);
    margin: 1.6rem;
    width: 36rem;
    padding: 2rem 4rem !important;
    border-radius: .8rem;
}

.rating__msg{
    padding-top: .3rem;
    margin-left: 15rem;
    color: var(--primary-magenta);
}

.ratings img{
    height: 1.6rem;
    width: 1.6rem;
    margin-right: .8rem;
}

/* Feedback */
.feedback {
    background-color: var(--primary-magenta);
    border-radius: 5px;
    margin: 1rem;
}

img{
    height: 30px;
    width: 30px;
    border-radius: 20px;
    float: left;
    margin-right: 20px;
}

.feedabck__msg{
    margin-top: 2rem;
}

.feedback__heading{
    color: var(--neutral-White);
    font-weight: 500;
}

.feedback__subheading{
    color: var(--primary-pink);
    font-weight: 400;
    margin-top: .5rem;
}

.b1 {
    margin: 4rem 1.2rem 10rem 2rem;
    
}

.b2 {
    margin: 6rem 1.2rem 8rem 1.2rem;
    
}

.b3 {
    margin: 8rem 2rem 6rem 1.2rem;
    
}

