:root{
    --dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grey-magenta: hsl(303, 10%, 53%);
    --light-grey-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%)
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat, no-repeat;
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
}

.container{
    width: 80%;
    margin: 0 auto;

}

.container-top{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    flex-wrap: wrap;
}

.container-top h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--dark-magenta);
}

.container-top p{
    font-size: .9rem;
}

.rating__card{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--light-grey-magenta);
    padding: .7rem 1.5rem;
    margin-bottom: .8rem;
    font-size: .7rem;
    align-items: center;
    border-radius: 10px;
    width: 330px;
}

.rating__card-img{
    margin-right: 2rem;
}

.rating-2nd{
    margin-left: 2rem;
}

.rating-3rd{
    margin-left: 4rem;
}

.container-bottom{
    margin-top: 50px;
}

.feedback{
    display: flex;
    justify-content: space-between;
}

.feedback__card{
    width: 300px;
    height: 150px;
    background-color:var(--dark-magenta);
    margin-right: 1rem;
    padding: 20px 15px;
    border-radius: 8px;
}

.feedback__profile{
    display: flex;
    align-items: center;
}

.feedback__profile img{
    width: 50px;
    height: auto;
    border-radius: 50px;
    margin-right: 1rem;
}

.feedback__profile-info h3{
    font-size: .7rem;
    color: var(--white);
    margin-bottom: 3px;
}

.feedback__profile-info h5{
    font-size: .6rem;
    color: var(--dark-grey-magenta);
}

 .feedback__msg p{
    font-size: .7rem;
    font-weight: 500;
    line-height: 1.1rem;
    color: var(--white);
    margin-top: 10px;
 }

 .card-2{
    margin-top: 1rem;
 }

 .card-3{
    margin-top: 2rem;
 }

 .footer{
    margin-top: 4rem;


 }

 @media (max-width: 375px){
    body{
        background-image: url(./images/bg-pattern-top-mobile.svg), url(./images/bg-pattern-bottom-mobile.svg);
        background-repeat: no-repeat, no-repeat;
        background-position: top left bottom right;
    }

    .container-top h1{
        font-size: 2rem;
        margin-top: 1rem;
        text-align: center;
    }

    .container-top p{
        font-size: 1rem;
        margin-bottom: 20px;
        text-align: center;
    }

    .rating__card{
        width: 252px;
        margin-left: 0;
    }

    .rating-2nd{
        margin-left: 0;
    }

    .rating-3rd{
        margin-left: 0;
    }

    .rating__card{
        justify-content: center;
    }

    .rating__card-img{
        margin-right: 0;
    }
    

    .feedback{
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;
    }

    .feedback__card{
        width: 100%;
        margin-top: 1rem;
    }

    .feedback__msg{
        margin-top: 0;
        margin-bottom: 1rem;
        
    }
 }

